.comments-area {

    .main-user {
        display: flex;
        align-items: flex-start;


        .public-com-area {
            flex: 1;
            padding: 0px 16px;

        }

        input.public-com {
            font-size: 14px;
            color: #606060;
            border: none;
            border-bottom: 1px solid #e0e0e0;
            width: 100%;
            background-color: transparent;
            padding-bottom: 6px;

        }
    }

    .main-user-logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: red;


    }
}