.video-area {
    flex: 1;
    max-width: 1400px;
    height: 700px;
    background-color: grey;
}


p.video-headline {
    margin: 30px 0px 0px;
    font-size: 18px;
    line-height: 16px;

}

p.video-info {
    font-size: 14px;
    color: #606060;

}